[submodule "home/zsh/lib/pure"]
	path = home/zsh/lib/pure
	url = https://github.com/sindresorhus/pure
[submodule "home/zsh/lib/zsh-syntax-highlighting"]
	path = home/zsh/lib/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "tomorrow-theme"]
	path = tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme
[submodule "home/vim/bundle/vim-pathogen"]
	path = home/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "home/vim/bundle/nerdtree"]
	path = home/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/vim/bundle/syntastic"]
	path = home/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/vim/bundle/supertab"]
	path = home/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "home/vim/bundle/vim-jsx"]
	path = home/vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "home/vim/bundle/vim-javascript"]
	path = home/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "home/vim/bundle/delimitMate"]
	path = home/vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
