*~
home/emacs.d/elpa
home/emacs.d/backups
home/emacs.d/projectile*
home/emacs.d/tmp
home/emacs.d/ac-comphist.dat
home/emacs.d/ido.last
home/zsh/cache
home/vim/.netrwhist
home/vim/plugins

.idea/
*.iml